.profile {
  height: 520px;
  width: 100%;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e07b00;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

@media only screen and (min-width: 1024px) {
  .profile {
    width: 30%;
    float: left;
    padding-top: 0;
    margin-top: 270px;
    margin-inline: 5%;
  }
}