nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.bungee {
  font-family: 'Bungee', cursive;
}

.flex-coloumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.angle-down {
  color: red;
}