.post-tweet {
  display: flex;
  flex-direction: column;
}

.tweet-label {
  font-weight: 600;
  font-size: 1.5rem;
}

.tweet-error {
  font-weight: 600;
  font-size: 1rem;
  color: red;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  padding: 6px 12px;
  font-size: 1rem;
}

.counter {
  color: #545149;
  font-family: 'Bungee', cursive;
  padding-right: 6px;
  font-size: 1rem;
}

#tweet-text {
  text-overflow: hidden;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  border-bottom: 4px solid #545149;
  font-weight: 600;
  height: 4rem;
  font-size: 1.5rem;
}